<div class="booking_container">
<div class="booking_form">
<h4>REQUEST A NEW BOOKING</h4>

<%= simple_form_for [@dress, @booking] do |f| %>
  <%= f.input :start_date,
            label: "From",
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date,
            label: "Until",
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.button :button, class: "btn-test", value: "" do %>
    Confirm <i class="fa-solid fa-check"></i>
    <% end %>
<% end %>
</div>
</div>
