<div class="booking_container">
<div class="booking_form">
<h3>Request a new booking</h3>

<%= simple_form_for [@dress, @booking] do |f| %>
  <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.button :submit %>
<% end %>
</div>
</div>
