.background-profile-first {
  border-radius: 5px;
  background-color: #F5EFE6;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 5%;


  h4 {
    text-align: center;
    margin-bottom:2.3%;
  }

  .add {
    text-align: center;
    a {
    text-decoration: none;
    }
  }
}

.background-profile-second {
  border-radius: 5px;
  background-color: #F5EFE6;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2.5%;

  h4 {
    text-align: center;
    margin-bottom:2.3%;
  }
}

.background-profile-third {
  border-radius: 5px;
  background-color: #F5EFE6;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;

  padding-top: 2%;
  padding-bottom: 3.5%;

  h4 {
    text-align: center;
    margin-bottom:2.3%;
  }
}

.background-light-blue {
  border-radius: 5px;
  background-color: #AEBDCA;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 3.5%;
}

.background-beige {
  border-radius: 5px;
  background-color: #F5EFE6;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 4%;
}

.small-form-background {
  display: flex;
  justify-content: center;
  background-color: #AEBDCA;
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;

  padding-top: 2%;
  padding-bottom: 4%;

  h4 {
    text-align: center;
    margin-bottom:2.3%;
  }
}

.booking_container{
  display: flex;
  justify-content: center;
  background-color: #AEBDCA;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 5%;

  h4 {
    text-align: center;
    margin-bottom:2.3%;
  }
}

.dress {
  padding-bottom: 4%;
  margin-left: 22%;
  margin-right: 22%;
}
