.footer {
  margin-top: 5%;
  background: #ffffff;
  display: flex;
  border-top: 1px solid rgb(224, 224, 224);
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 10px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  color: black;
  opacity: .4;
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: .4;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 100;
}
