.form-inputs {
  margin-left: 20%;
  margin-right: 20%;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.log-in {
  margin-bottom: 3.3%;
}

.sign-up-form {
  margin-bottom: 6.3%;
}

.sign-up {
  margin-bottom: 0;
}
