.profile-card{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 240px;
  margin: 0 auto 34px auto;
  height: 450px;
  padding:0;
  position: relative;

  .cancel {
    position: absolute;
    top: 5%;
    left: 70%;
    font-family: $body-font;

    a {
      font-family: $body-font;
      text-decoration: none;
      color: black;
    }
  }

  .top-cards {
    opacity: .4;
  }

  img {
    height: 80%;
    width: 100%;
    object-fit: contain;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .col-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-family: "Ubuntu", "Helvetica", "sans-serif";
    font-size: 13px;

    margin-top: 2px;
    margin-bottom:2px;


    .opacity {
      opacity: .4;
    }
    .red {
      color: rgb(185, 13, 13);
    }

    .green {
      color: rgb(12, 167, 51);
      opacity: 100 !important;
    }
  }

  .card-trip-infos {
    padding: 12px;
    align-items: flex-end;
    position: relative;
    padding-bottom: 0;

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 20px;

      &:hover {
        opacity: .4;
      }
    }
  }
}
